name: Publish New Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: What version to publish?
        options:
          - patch
          - minor
          - major
      changes:
        description: Specify an entry for the changelog
        required: true

permissions:
  contents: write

jobs:
  publish:
    name: Build and publish to hex.pm
    runs-on: ubuntu-22.04
    env:
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        token: ${{ secrets.GH_PUBLISH_PAT }}
        fetch-depth: 0
        ref: main

    - name: Git Config
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

    - name: Setup Elixir
      uses: erlef/setup-elixir@v1
      id: setup-beam
      with:
        version-file: '.tool-versions'
        version-type: 'strict'

    - name: Restore dependencies cache
      uses: actions/cache@v5
      with:
        path: deps
        key: ${{ runner.os }}-publish-mix-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-publish-mix-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-

    - name: Install deps
      run: mix deps.get

    - name: Add changelog entry
      run: echo -e "${{ inputs.changes }}" > RELEASE.md

    - name: Bump version, generate changelog, push to git, publish on hex.pm
      run: mix expublish.${{ inputs.version }} --branch=main
